*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	background-color: grey;
	font-family: 'Times New Roman', Times, serif
}
.container{
	max-width: 600px;
	margin: 0px auto;
	padding: 0 15px;
}
form{
	display: flex;
	flex-direction: column;
	margin: 0 0 15px 0;
}
h1{
	text-align: center;
	color: #fff;
	margin: 0 0 15px 0;
}
.App{
	padding: 15px 0 0 0;
}
.post{
	border: 3px solid rgb(0, 128, 58);
	padding: 15px;
	background-color: aquamarine;
	margin: 0 0 15px 0;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
}
hr{
	margin: 15px 0;
}
.filter{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.filter input{
	margin: 0;
}
.post__btns{
	display: flex;
	align-items: center;
}
span{
	border:1px solid rgb(0, 128, 58);
	padding: 10px;
	margin: 0 10px 0 0;
	background-color: aquamarine;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
}
.pagination{
	display: flex;
	justify-content: center;
}
.page_cur{
	border:2px solid red;
	background-color: #F07427;
	color: #fff;
}
.comm{
	border: 4px dashed rgb(0, 217, 255);
	padding: 15px;
	background-color: rgb(172, 127, 255);
	margin: 0 0 15px 0;
	color: azure;
}
.comm__id{
	font-size: 18px;
	font-weight: 900;
	border: 1px solid teal;
	display: inline;
	
}
.comm__name{font-size: 20px;	border: 1px solid rgb(224, 156, 79);}
.comm__body{font-size: 22px;	border: 1px solid rgb(88, 36, 20);}
.comm__email{font-size: 24px;	border: 1px solid rgb(128, 0, 75);}

.navbar a{
	text-decoration: none;
	color: aliceblue;
	font-size: 24px;
	border: 3px solid teal;
	padding: 5px;
	margin: 0 5px 0 0;
	transition: all 1s ease 0s;
}
.navbar a:hover{
	background-color: teal;
	
}
.navbar{
	display: flex;
	justify-content: center;
	margin: 0 0 20px 0;
}